
@charset "utf-8";

@font-face {
 font-family: 'NotoSans';
 font-weight: 200;
 src: url(../font/NotoSans-Light.eot);
 src: url(../font/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSans-Light.woff) format('woff'),
	url(../font/NotoSans-Light.ttf) format('truetype');
}
@font-face {
 font-family: 'NotoSans';
 font-weight: 400;
 src: url(../font/NotoSans-Regular.eot);
 src: url(../font/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSans-Regular.woff) format('woff'),
	url(../font/NotoSans-Regular.ttf) format('truetype');
}
@font-face {
 font-family: 'NotoSans';
 font-weight: 500;
 src: url(../font/NotoSans-Medium.eot);
 src: url(../font/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSans-Medium.woff) format('woff'),
	url(../font/NotoSans-Medium.ttf) format('truetype');
}
@font-face {
 font-family: 'NotoSans';
 font-weight: 700;
 src: url(../font/NotoSans-Bold.eot);
 src: url(../font/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSans-Bold.woff) format('woff'),
	url(../font/NotoSans-Bold.ttf) format('truetype');
}
@font-face {
 font-family: 'NotoSans';
 font-weight: 800;
 src: url(../font/NotoSans-Black.eot);
 src: url(../font/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSans-Black.woff) format('woff'),
	url(../font/NotoSans-Black.ttf) format('truetype');
}

/******************************************************************************
 *** initialize ***************************************************************
 ******************************************************************************/
*{margin:0;padding:0;line-height:inherit;-webkit-overflow-scrolling:touch;box-sizing:border-box;-webkit-hyphens:auto;hyphens:auto;vertical-align:middle;font-size:inherit;box-sizing:border-box;word-break:break-all;font-family:inherit;}
html, body{height:100%;line-height:1;font-size:12px;font-family:'NotoSans', 'Dotum', 'Gulim', 'sans-serif';}
body{color:#333;-webkit-text-size-adjust:none;word-break:keep-all;word-wrap:break-word;}
legend, caption, figcaption{display:none;}
p,ul,ol,li,dl,dt,dd,form{list-style-image:none;list-style-position:outside;list-style-type:none;border:0px;}
img,fieldset, frameset, frameborder, frame{border:0;border:none;}
table{width:100%;border-collapse:collapse;}
table th, table td{box-sizing:content-box;}
a, img, span, b, input, select, em, textarea, label, strong{vertical-align:middle;outline-style:none;color:inherit;font-family:inherit}
a{color:inherit;text-decoration:none;cursor:pointer;color:inherit;font-family:inherit;}
a:hover{text-decoration:none}
textarea{resize:none;}
button{border:none;background:none;outline:none;cursor:pointer;}
label,button{cursor:pointer;}
i,em{font-style:normal;}
br{line-height:inherit;}
hr{border:none;line-height:inherit;}
input[type="text"], input[type="password"], input[type="file"], textarea{height:30px;padding:0.33rem;color:#7b7b7b;-webkit-appearance:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-radius:0;border:1px solid #ccc;background:#ffffff;}
select{height:30px;padding-left:0.33rem;border-radius:0;color:#7b7b7b;border:1px solid #ccc;background:#ffffff;}
textarea{height:auto}

/* scrollbar */
@media all and (max-width:1023px){
	::-webkit-scrollbar{-webkit-appearance:none}
	::-webkit-scrollbar:vertical{width:5px;}
	::-webkit-scrollbar:horizontal{height:5px;}
	::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);border-radius:10px;}
	::-webkit-scrollbar-track{background-color:rgba(0,0,0,.05);border-radius:10px;}
}


/******************************************************************************
 *** common *******************************************************************
 ******************************************************************************/
::-webkit-input-placeholder {color: #a0a0a0;}/* Chrome/Opera/Safari */
::-moz-placeholder {color: #a0a0a0;} /* Firefox 19+ */
:-ms-input-placeholder {color: #a0a0a0;}/* IE 10+ */
:-moz-placeholder {color: #a0a0a0;}/* Firefox 18- */

.cRed{color: #df3b4c !important;}

.alignC{text-align:center !important;}
.alignL{text-align:left !important;}
.alignR{text-align:right !important;}

/* frame */
.cellbox{display:table;width:100%;max-width:100%;}
.cellbox .cellrow{display:table-row;}
.cellbox .cell{display:table-cell;width:10px;vertical-align: middle;}
.cellbox .cell.auto{width:auto;}
.cellbox.cell2 > .cell{width:50%;}
.cellbox.cell3 > .cell{width:33.3333%;}
.cellbox.auto{width:auto;}
.cellbox.auto .cell{width:auto;}


@media all and (min-width:1025px){
	.wAutoW{width:auto !important;}
	.cellbox.wAutoW{width:auto;}
	.cellbox.wAutoW .cell{width:auto;}

	.w{display:block !important;}
	.m{display:none !important;}
	button.w,
	a.w,
	span.w{display:inline-block !important;}
	colgroup.w{display:table-column-group !important;}
	colgroup.m{display:none !important;}
	colgroup col.w{display:table-column !important;}
	colgroup col.m{display:none !important;}
	th.w,td.w{display:table-cell !important;}
}
@media all and (max-width:1024px){
	.m100W{width:100% !important;}

	/*.w{display:none !important;}*/
	.m{display:block !important;}
	button.m,
	a.m{display:inline-block !important;}
	span.m{display:inline-block !important;}
	colgroup.w{display:none !important;}
	colgroup.m{display:table-column-group !important;}
	colgroup col.w{display:none !important;}
	colgroup col.m{display:table-column !important;}
	th.w,td.w{display:none !important;}
}
@media screen and (min-width:1025px){
	.wHide{display:none !important;}
}
@media screen and (max-width:1024px){
	.mHide{display:none !important;}
	.mPadding{padding:0 20px;}

}

.btnBox{margin-top:30px;}
.btnBox .wAutoW{margin:0 auto;}
.btnBox .cellbox .cell{padding:0 4px;vertical-align: middle;}
.btnBox .cellbox .cell:first-child{padding-left:0;}
.btnBox .cellbox .cell:last-child{padding-right:0;}
.btnType1{display:inline-block;max-width:100%;padding:0 10px;min-width:220px;height:50px;line-height:48px;font-size:16px;font-weight:400;text-align: center;}
.btnType1.btn1{color: #ffffff;border: 1px solid #4d2672;background:#4d2672;}
.btnType1.btn2{color: #4d2672;border: 1px solid #4d2672;background:#ffffff;}
.btnType1 .ico{margin-right:10px;}

.btnType2{display:inline-block;max-width:100%;padding:0 12px;height:28px;line-height:26px;font-size:13px;font-weight:400;text-align: center;}
.btnType2.btn1{color: #ffffff;border: 1px solid #4d2672;background:#4d2672;}
.btnType2.btn2{color: #4d2672;border: 1px solid #4d2672;background:#ffffff;}
.btnType2 .ico{margin-right:10px;}

.btnType3{display:inline-block;max-width:100%;padding:0 25px;height:40px;line-height:38px;font-size:14px;text-align: center;white-space: nowrap;}
.btnType3.btn1{color: #ffffff;border: 1px solid #4d2672;background:#4d2672;}
.btnType3.btn2{color: #4d2672;border: 1px solid #4d2672;background:#ffffff;}
.btnType3 .ico{margin-right:10px;}
.btnType3 span{display:inline-block;vertical-align:baseline;}
@media screen and (max-width:1024px){
	.btnType1{min-width:0;height:40px;width:110px;line-height:37px;font-size:14px;}
}


.ico{display:inline-block;}
.ico.iChat {width:18px;height:18px;background:url('../images/ico_chat.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iChat2 {width:14px;height:12px;background:url('../images/ico_chat2.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iCart {width:27px;height:26px;background:url('../images/ico_cart.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iPlus {width:11px;height:11px;background:url('../images/ico_plus.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iZoomin {width:15px;height:15px;background:url('../images/ico_zoomin.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iZoomout {width:15px;height:15px;background:url('../images/ico_zoomout.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iReset {width:19px;height:23px;background:url('../images/ico_reset.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iWarning {width:16px;height:13px;background:url('../images/ico_warning.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iHeart {width:24px;height:22px;background:url('../images/ico_heart.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iHeart2 {width:14px;height:12px;background:url('../images/ico_heart2.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iView {width:25px;height:18px;background:url('../images/ico_view.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iView2 {width:16px;height:12px;background:url('../images/ico_view2.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iView2_off {width:16px;height:12px;background:url('../images/ico_view2_off.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iTrash {width:22px;height:24px;background:url('../images/ico_trash.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iTrash2 {width:14px;height:16px;background:url('../images/ico_trash2.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iFilter {width:14px;height:12px;background:url('../images/ico_filter.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iSearch {width:20px;height:20px;background:url('../images/ico_search.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iShare {width:14px;height:14px;background:url('../images/ico_share.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iInfo {width:18px;height:18px;background:url('../images/ico_info.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iImg {width:32px;height:27px;background:url('../images/ico_img.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iDelivery {width:32px;height:31px;background:url('../images/ico_delivery.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iCertification {width:32px;height:33px;background:url('../images/ico_certification.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iHome {width:12px;height:12px;background:url('../images/ico_home.png') no-repeat 0 0;background-size:100% 100%;}
.ico.iFacebook {width:6px;height:12px;background:url('../images/ico_facebook.png') no-repeat 0 0;background-size:100% 100%;}

.starGrade{display:inline-block;}
.starGrade i {display:inline-block;width:21px;height:20px;background:url('../images/ico_star.png') no-repeat 100% 0;background-size:auto 100%;}
.starGrade i.on {background-position: 0 0;}
.starGrade i.half {background-position: -24px 0;}
.starGrade.small i{width:16px;height:15px;}
.starGrade.small i.half {background-position: -17px 0;}
.starGradeNum{margin-left:8px;font-size:16px;}


/* 
.noDataBox{position:relative;height:413px;border: 1px solid #e6e7e9;}
.noDataBox .noData{position:absolute;top:50%;left:50%;font-size:16px;color: #777777;white-space:nowrap;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
.noDataBox.size2{height:224px;} */

/* loading */
.loading{display:none;padding:80px 0 30px 0;position:relative;}
.loadingBar{
	position: absolute;
	width: 20px;
	height: 4.8px;
	top: 50%;
	left: 50%;
	margin:-10px 0 0 -24px;
	/* animation: 1s linear 0s infinite normal none running loading; */
	-webkit-animation:loading 1s infinite linear;animation:loading 1s infinite linear;
	background: rgb(0, 0, 0);
}
  @-webkit-keyframes loading{100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}} @keyframes FiaaB{100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}
  @keyframes loading{100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}} @keyframes FiaaB{100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}}


/* form */
.inputList > .cell{padding:0 5px;}
.inputList > .cell:first-child{padding-left:0;}
.inputList > .cell:last-child{padding-right:0;}
.inputList .inputBox{margin-top:17px;}
.inputList .inputBox:first-child{margin-top:0;}
.inputList .inputBox:first-child{margin-top:0;}
.inputBox .titType4{margin-bottom:8px;}

.inpType1{border:1px solid #e5e5e5;}
.inpType1 input{height:40px;width:100%;padding:0 10px;border:none;font-size:14px;color: #000000;}
.inpType1 .unit{padding:0 15px !important;white-space:nowrap;color: #999999;}

.searchInput{}
.searchInput .sch{display:block;position:relative;padding-right:40px;}
.searchInput input{width:100%;height:40px;padding:0 10px;border:1px solid #e5e5e5;font-size:14px;}
.searchInput .btn{overflow: hidden;position:absolute;top:0;right:0;width:40px;height:40px;line-height:40px;text-align: center;background:#4d2672;}

.selectType1{position:relative;display:block;height:40px;}
.selectType1 .design{position:absolute;top:0;left:0;width:100%;height:40px;padding:0 10px;line-height:38px;text-align:left;font-size:14px;color:#000000;border:1px solid #e5e5e5;background:#ffffff;}
.selectType1 .design:after{content:""; display: block;position:absolute;top:50%;right:13px;width:0px;height:0px;margin-top:-3px;cursor:pointer;border-left:5px solid transparent;border-right:5px solid transparent;border-top:7px solid #4d2672;}
.selectType1 select{position:relative;opacity:0;height:40px;width:100%;padding-right:30px;z-index:1;cursor:pointer;}

.inputChkBox{padding:15px 0;}

.inpChk{display:inline-block;cursor:pointer;white-space:nowrap;}
.inpChk .inp{display:inline-block;position:relative;width:16px;height:16px;}
.inpChk .inp input{opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.inpChk .inp .ic{display:block;overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:16px;background:url('../images/ico_inp_check.png') no-repeat 0 0;background-size:auto 16px;}
.inpChk .inp input:checked  + .ic{background-position-x:-16px;}
.inpChk .txt{display:inline-block;margin-left:5px;font-size:14px;}

.inpRadio{display:inline-block;cursor:pointer;white-space:nowrap;}
.inpRadio .inp{display:inline-block;position:relative;width:16px;height:16px;}
.inpRadio .inp input{opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.inpRadio .inp .ic{display:block;overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:16px;background:url('../images/ico_inp_radio.png') no-repeat 0 0;background-size:auto 16px;}
.inpRadio .inp input:checked  + .ic{background-position-x:-16px;}
.inpRadio .txt{display:inline-block;margin-left:5px;font-size:14px;}

.inpRadio2 {display:block;position:relative;}
.inpRadio2 input{opacity:0;position:absolute;top:0;left:0;}
.inpRadio2 .txt{overflow: hidden;display:block;height:40px;line-height:38px;text-align:center;border:1px solid #e5e5e5;font-size:14px;vertical-align:baseline;height:40px;}
.inpRadio2 input:checked + .txt{position:relative;border:1px solid #4d2672;font-weight:bold;color: #4d2672;z-index:10}



.inpCheck{display:inline-block;cursor:pointer;white-space:nowrap;}
.inpCheck .inp{display:inline-block;position:relative;width:16px;height:16px;}
.inpCheck .inp input{opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.inpCheck .inp .ic{display:block;overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;background:url('../images/ico_inp_check.png') no-repeat 0 0;background-size:auto 16px;}
.inpCheck .inp input:checked  + .ic{background-position-x:-16px;}
.inpCheck .txt{display:inline-block;margin-left:5px;font-size:14px;margin-top:-1px;}


/* text */
.titType1 {text-align: center;}
.titType1 b {font-size:28px;color: #333333;font-weight:500;}

.titType2 {}
.titType2 b {font-size:18px;color: #333333;}

.titType3 {}
.titType3 b {font-size:16px;color: #333333;}

.titType4 {}
.titType4 b {font-size:13px;color: #000000;}
.titType4 .sTxt{margin-left:5px;font-size:11px;color: #999999;font-weight:200;}
.titType4 .right{float:right;}

.titType5 {}
.titType5 b {font-size:12px;color: #333333;}

.txtlink{font-size:11px;color: #000000;}
.txtlink span{text-decoration:underline;}

@media screen and (max-width:1024px){
	.titType1 {text-align: center;}
	.titType1 b {font-size:22px;letter-spacing: -0.05em;}
}

/* tab */
.tabType1{}
.tabType1 ul {border-bottom:1px solid #e0e0e0;}
.tabType1 ul:after{content:'';display:block;clear:both;}
.tabType1 ul li {float:left;}
.tabType1 ul li a {position:relative;display:block;height:50px;min-width:120px;padding:0 20px;line-height:50px;font-size:18px;color: #999999;font-weight:500;text-align: center;}
.tabType1 ul li.on a {color: #4d2672;}
.tabType1 ul li.on a:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:3px;background:#4d2672;}
@media screen and (max-width:1024px){
	.tabType1 ul li a {height:42px;line-height:42px;font-size:16px;}
}

.tabType2{margin-top:40px;overflow: hidden;}
.tabType2 ul:after{content:'';display:block;clear:both;}
.tabType2 ul li {float:left;position:relative;padding:0 15px;}
.tabType2 ul li:before{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:16px;margin-top:-8px;background:#cccccc;}
.tabType2 ul li:first-child{padding-left:0;}
.tabType2 ul li:first-child:before{display:none;}
.tabType2 ul li a {position:relative;display:block;height:32px;line-height:30px;font-size:18px;color: #999999;font-weight:500;text-align: center;}
.tabType2 ul li.on a {color: #4d2672;}
.tabType2 ul li.on a:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:3px;background:#4d2672;}

@media screen and (max-width:1024px){
	.tabType1{clear: both;}
	.tabType1.tab2 ul li{width:50%;}
}
